.footer {
    width: 100%;
    // padding-bottom: 15vh;
    background-color: $background-color2;
    color: $text-color3;
    padding-bottom: 9vh;

    display: flex;
    align-items: center;

    .company__data {
        display: flex;
        flex-direction: column;

        .data__textBold:nth-child(1) {
            font-size: 2rem;
            // margin-bottom: 20px;
        }

        .data__textBold {
            font-weight: 500;
        }
        .data__textLight {
            font-weight: 400;
        }
    }
    .data__textLightContainer {
        display: flex;

        .textLight__col {
            display: flex;
            // justify-content: space-around;
        }

        .data__textLightLeftBox, .data__textLightRightBox {
            margin-left: 30px;
            .data__textLight:nth-of-type(odd) {
                margin-top: 20px;
            }
        }
    }
}

