.project {
    margin-top: 19vh;
    margin-bottom: $margin-bottom;
    .project__description {
        margin-bottom: $margin-bottom;
        font-weight: 400;
        font-size: 1.2rem;
        .project__title{
            // border-top: 2px solid black;
            font-size: 2rem;
            font-weight: 500;
        }
        .project__text {
            // border-top: 2px solid red;

            margin-top:16px;
            // line-height: 1.2rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.4rem;
        }
        .project__img, .project__video {
            margin-bottom: 5vh;
        }
        // .project__img  {
        //     margin-bottom: 5vh;
        // }

    }
    // .project__description {
    //     line-height: 1.1rem;
    // }
}

.navBottom {

    position: fixed;
    bottom:0;

    z-index: 2;
    width: 100%;

    background-color: #ffffffd8;
   .navBottom__bar{
       font-size: 1.4rem;
       font-weight: 500;
       height: 10vh;

        display: flex;
        align-items: center;
        justify-content: space-between;
       .navBottom__prev {
           margin-left: 2.5%;
           transform: rotate(180deg);
       }
       .navBottom__next {
        margin-right: 2.5%;
    }
    .arrow-size {
        height: 26px;
    }
    .navBottom__next, .navBottom__prev {
        color: $text-color5;
        cursor: pointer;
    }
   }
}