.footer {
    
    padding: 10rem 2rem 10rem 2rem;
    background-color: rgba(206, 45, 36, 1);
    color: #fff;
    font-size: 2rem;
    &__container {
        @include respond(tab-land) {
            width: 1200px;
            margin: 0 auto;
        }
    }
    &__adressContainer {
        padding-left: 2rem;
        @include respond(tab-port) {
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
        }
    }
    &__headerText {
        position: relative;
        font-weight: bold;
        font-size: 2.3rem;
        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 4rem;
            height: 3px;
            background-color: #fff;
            top: -15px;
        }
    }

    &__content {
        padding: 2rem 0;

        width: auto;
        display: grid;
        grid-template-columns: 9rem 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        @include respond(tab-port) {
            padding: 2rem 1rem;
            grid-template-columns: auto 1fr;
            .footer__text {
                font-weight: 400;
                margin-left: .6rem;
            }
          
        }
        @include respond(tab-land) {
            margin-right: 2rem;
            
        }
    }
}
