.nav {
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    &__container {
        width: 1200px;
        margin: 0 auto;
    }
    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(206, 45, 36, 1);
        transition: height 0.26s ease-in;
        display: flex;
        width: 100%;
        font-size: 2rem;
    }
    .listNav {
        &__grid {
            padding-top: 6rem;
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-auto-rows: min-content;
            grid-column-gap: 0;
            grid-row-gap: 0;
            .item1,
            .item2,
            .item3,
            .item4 {
                width: 100%;
                display: flex;

                padding-left: 8rem;
                .contactButton,
                a {
                    padding: 1rem 0;
                    text-align: start;
                    width: 100%;
                    display: block;
                    color: #fff;
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
            .item4 {
                padding-top: 1rem;
                a {
                    font-size: 2rem;
                    padding: 0;
                    text-decoration: none;
                }
            }
        }
    }
    .ulClose {
        height: 0;

        .listNav__grid {
            display: none;
        }
    }
    .ulOpen {
        height: 100vh;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            width: 11rem;
            display: block;
        }
        img {
            width: 100%;
        }
    }
}
.menuIconContainer {
    transform: scale(0.7);
    padding-right: 3rem;
}
.openContact {
    animation: fadeFromLeft 0.4s ease-out forwards;
}
.closeContact {
    animation: fadeToLeft 0.4s ease-out forwards;
}
@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
