.nav {
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(206, 45, 36, 0.918);
        transition: height 0.26s ease-in;
        display: flex;
        // justify-content: ;
        width: 100%;
        font-size: 2rem;
    }
    .listNav {
        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            .item1,
            .item2,
            .item3,
            .item4 {
                width: 100%;
                color: #fff;
                a {
                    display: block;
                }
            }
        }
    }
    .ulClose {
        height: 0;

        .listNav__grid {
            display: none;
        }
    }
    .ulOpen {
        height: 100vh;
    }

    &__logo {
        background-color: #fff;

        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            width: 13rem;
            display: block;
        }
        img {
            width: 100%;
        }
    }
}
.menuIconContainer {
    transform: scale(0.7);
    padding-right: 3rem;
}

#nav-icon3 {
    transform: scale(0.6);
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 18px;
}
#nav-icon3 span:nth-child(4) {
    top: 36px;
}
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
