.nav {
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    &__container {
        @include respond(tab-land) {
            width: 1200px;
            margin: 0 auto;
        }
    }
    &__list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(206, 45, 36, 0.93);
        transition: height 0.26s ease-in;
        display: flex;
        width: 100%;
        z-index: 11;
        font-size: 2rem;
    }
    .openL {
        z-index: 121;
    }
    .colorL {
        z-index: 121;
        span {
            background: #fff !important;
        }
    }
    .listNav {
        &__grid {
            padding-top: 23rem;
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-auto-rows: min-content;
            grid-column-gap: 0;
            grid-row-gap: 0;
            @include respond(tab-land) {
                width: 1200px;
                margin: 0 auto;
            }
            @include respond(tab-port) {
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: repeat(3, min-content);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                .item1 {
                    grid-area: 1 / 2 / 2 / 3;
                    cursor: pointer;
                }
                .item2 {
                    grid-area: 2 / 2 / 3 / 3;
                    cursor: pointer;
                }
                .item3 {
                    grid-area: 3 / 2 / 4 / 3;
                    cursor: pointer;
                }
                .item4 {
                    grid-area: 3 / 1 / 4 / 2;
                }
                .item1:hover,
                .item2:hover,
                .item3:hover {
                    a,
                    span {
                        color: #373737;
                    }
                }
            }
            .item1,
            .item2,
            .item3,
            .item4 {
                width: 80%;
                display: flex;

                padding-left: 8rem;
                .contactButton,
                a {
                    text-decoration: none;
                    padding: 1rem 0;
                    text-align: start;
                    display: block;
                    color: #fff;
                    font-size: 4rem;
                    font-weight: bold;
                }
                @include respond(tab-port) {
                    justify-content: flex-end;
                    .contactButton,
                    a {
                        font-size: 6rem;
                    }
                }
                @include respond(tab-land) {
                    justify-content: flex-end;
                    .contactButton,
                    a {
                        font-size: 8rem;
                    }
                }
            }
            .item4 {
                padding-top: 1rem;
                a {
                    font-size: 2rem;
                    padding: 0;
                    text-decoration: none;
                    @include respond(tab-port) {
                        font-size: 2.5rem;
                    }
                    @include respond(tab-land) {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    .ulClose {
        height: 0;

        .listNav__grid {
            display: none;
        }
    }
    .ulOpen {
        height: 100vh;
    }

    &__logo {
        background-color: rgba(255, 255, 255, 0.851);

        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            width: 11rem;
            display: block;
        }
        img {
            width: 100%;
            height: 100%;
        }
        @include respond(tab-port) {
            padding: 3rem 0;
            img {
                width: 150%;
                max-width: 150%;
            }
            a {
                width: 20rem;
            }
        }
    }
}
.menuIconContainer {
    transform: scale(0.5);
    padding-right: 2rem;
    @include respond(tab-port) {
        transform: scale(0.6);
    }
}
.openContact {
    animation: fadeFromLeft 0.4s ease-out forwards;
    ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}
.closeContact {
    animation: fadeToLeft 0.4s ease-out forwards;
    ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}
@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
