.project {
    &__title {
        font-size: 3rem;
        font-weight: 500;
    }

    &__description {
        font-size: 2rem;
    }
    &__descriptionCont {
        padding: 8rem 0;
        @include respond(tab-port) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            .project__title {
                grid-area: 1 / 1 / 2 / 2;
                font-weight: 500;
            }
            .project__description {
                grid-area: 2 / 1 / 3 / 2;
            }
            .project__text {
                grid-area: 1 / 2 / 3 / 3;
                font-weight: 500;
                line-height: 3rem;
            }
        }
    }
    &__text {
        padding: 2rem 0;
        font-size: 2rem;
        font-weight: 500;

    }
    &__container {
        @include respond(tab-land) {
            width: 1200px;
            margin: 0 auto;
        }
        padding: 2rem;
        padding-top: 13rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .imageContainer,
    .videoContainer {
        img,
        video {
            width: 100%;
            height: 100%;
        }
        padding-bottom: 4rem;
    }
}
