.projects {
    padding: 4rem 0;
    &__container {
        padding: 0 2rem;
        padding-top: 13rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
        @include respond(tab-land) {
            width: 1200px;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
        }
    }
    &__foto {
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__linkWrapper {
        text-decoration: none;
    }
    &__project {
        padding-bottom: 5rem;
    }
    &__projectHeader {
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        h2,
        p {
            display: inline-block;
            position: relative;
            &:before {
                transition: width 0.3s linear;
                content: "";
                width: 0%;
                height: 2px;
                background-color: #ce2d24;
                bottom: 0;
                position: absolute;
            }
        }

        p {
            &:before {
                transition-delay: 0.3s;
            }
        }
        &:hover {
            h2,
            p {
                &:before {
                    width: 100%;
                }
            }
        }
    }
    &__header,
    &__description {
        color: rgba(206, 45, 36, 1);
    }

    &__header {
        text-transform: capitalize;
        font-size: 3rem;
        font-weight: 500;
    }
    &__description {
        font-size: 2rem;
    }
    &__linkWrapper {
        display: block;
        cursor: pointer;
    }
}
