.projects {
    
    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
        padding-top: 13rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    &__linkWrapper {
        text-decoration: none;
    }
    &__project {
        padding-bottom:2rem;
    }
    &__projectHeader {
        padding-top: 3rem;
    }
    &__header,
    &__description {
        color: rgba(206, 45, 36, 1);
    }
    &__header {
        text-transform: capitalize;
        font-size: 3rem;
    }
    &__description {
        font-size: 2rem;
    }
    &__linkWrapper {
        display: block;
        cursor: pointer;
    }
}
