// Header
$background-color: #fff;

// kolory czcionek
// ciemny niebieski
$text-color1: #020029;
$text-color2: #ffef3a;
$text-color3:  #fff;
$text-color4:  #373737;
$text-color5:  #ce2d24;

// BGC
$background-color2: #ce2d24ee;


