@import "./scss/general/reset";
@import "./scss/general/configuration";
@import "./scss/settings/all";
@import "./scss/general/icons";
@import "./scss/settings/colors";
@import "./scss/sections/header";
@import "./scss/sections/test";
@import "./scss/sections/navBottom";
@import "./scss/sections/nav";
@import "./scss/sections/navSubpages";
@import "./scss/sections/projects";
@import "./scss/sections/project";
@import "./scss/sections/projectTitle";
@import "./scss/sections/about";
@import "./scss/sections/ProjectMarginBottom";
@import "./scss/sections/footer";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.preloader {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1000;

    height: 100%;
    position: absolute;

    .preloader__left-side {
        z-index: 1000;
        height: 100%;

        position: fixed;
        left: 0;
        right: 100%;

        background-color: #d13b33;

        animation-name: LS;
        animation-fill-mode: backwards;
        animation-delay: 1s;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
    .preloader__right-side {
        z-index: 1000;
        height: 100%;
        width: 50%;

        position: fixed;
        right: 0;

        background-color: #d13b33;

        animation-name: RS;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
}

@keyframes LS {
    0% {
        left: 0;
        right: 50%;
    }
    100% {
        left: 0;
        right: 100%;
    }
}

@keyframes RS {
    0% {
        left: 50%;
        right: 0;
    }
    100% {
        left: 100%;
        right: 0;
    }
}
